{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(node/(.*)$)|^(node$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/types(/(.*))?$",
    "^@/config(/(.*))?$",
    "^@/controllers(/(.*))?$",
    "^@/env(/(.*))?$",
    "^@/lib(/(.*))?$",
    "^@/middleware(/(.*))?$",
    "^@/routers(/(.*))?$",
    "^@/schemas(/(.*))?$",
    "^@/services(/(.*))?$",
    "^@/utils(/(.*))?$",
    "^@/app(/(.*))?$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
