name: Linting, Testing, Building

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

env:
  PORT: 3000
  NODE_VERSION: 22

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Run Linting Rules
        run: pnpm lint

  Testing:
    needs: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Run Unit Tests
        run: pnpm run test

      - name: Copy .env.example to .env
        run: |
          cp .env.example .env || true
          echo "NODE_ENV=test" >> .env

      - name: Run Integration Tests
        run: pnpm run test:int

  Building:
    needs: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Build
        run: pnpm run build
